@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

footer li {
	display: inline;
	list-style: none;
}

/*colores*/

.rosado {
	color: #e74c3c;
} 

.verde {
	color: #2ecc71;
}

.bg-azul {
	background-color: #34495e;
}

.bg-azul-osc {
	background-color: #2c3e50;
	min-height: 50px;
}

/*tipografias*/

.tx-wh {
	color: white;
}

.tiny {
	font-size: 11px;
}

/*Header*/

.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.imagen-fondo {
	background-image: url(.../images/slider/bg1.jpg);
	background-repeat: no-repeat;
}