@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

header li {
	display: inline;
	padding: 30px;
}

header ul.text-right {
	padding-top: 20px;
} 

header li a{
	color:white;
	text-decoration: none;
}

header li a:hover {
	color:white;
	text-decoration: none;
	border-radius: 4px;
	background-color: #2c3e50;
	padding: 5px;

}

footer li {
	display: inline;
	list-style: none;
}

.logo {
	background-image: url(../images/logo.png);
	background-position: left;
	background-repeat: no-repeat;
	min-height: 50px;
}

#active li{
	display: inline;
	list-style: none;
}

#active {
	padding-top: 50px;
	padding-bottom: 50px;

}


/*colores*/

.rosado {
	color: #e74c3c;
} 

.verde {
	color: #2ecc71;
}

.bg-azul {
	background-color: #34495e;
}

.bg-azul-osc {
	background-color: #2c3e50;
	min-height: 50px;
}

.bg-gris {
	background-color: #f5f5f5;
}

.bg-verde {
	background-color: #2ecc71;
	min-height: 150px;
}

.bg-white {
	background-color: white;
}

/*tipografias*/

.tx-wh {
	color: white;
}

.tiny {
	font-size: 11px;
}

/*generales*/

.pd-10 {
	padding: 10%;
} 

.pd-3 {
	padding: 3%;
}

.pd-1 {
	padding: 1%;
}

.mini-img {
	width: 100%;
}

.br {
	border: 10px;
}

.mg-3 {
	margin: 3%;
}

#bajo a{ 
	color:white;
	text-decoration: none;
}

/*portfolio*/

ul.folio-img-resp li {
	list-style: none;
}

.folio-img {
  padding: 0;
  margin: 0;
}

.folio-img img {
  width: 100%;
}
.folio-img h5 {
  background: #ffffff;
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #2c3e50;

}

.folio-img .folio-box {
  background: #ffffff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;

-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}
 /*portfolio responsive*/

 .folio-img-resp > li {
  float: left;
  padding: 0;

}
.folio-img-resp.col-2 > li {
  width: 50%;
}
.folio-img-resp.col-3 > li {
  width: 33%;
}
.folio-img-resp.col-4 > li {
  width: 25%;
}
.folio-img-resp.col-5 > li {
  width: 20%;
}
.folio-img-resp.col-6 > li {
  width: 16%;
}

/*Blog*/

ul.flecha li {
	list-style: none;
}

ul.flecha li:before{
   content: "\00BB";
}

ul.flecha li a, ul.flecha li a:hover {
	text-decoration: none;
	color: black;
}